<?xml version='1.0'?>
<robot name="balltze" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="use_gpu" default="false" />

  <xacro:include filename="$(find balltze_description)/urdf/balltze_macro.urdf.xacro" ns="balltze" />
  <xacro:balltze.balltze use_sim="$(arg use_sim)" use_gpu="$(arg use_gpu)" />
  
</robot>
