<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- base_link defining macro -->]
  <xacro:macro name="body" params="props use_ros_path">

    <link name="dummy">
      <inertial>
        <mass value="0.00000000001" />
        <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
      </inertial>
    </link> 

    <link name="base_link">
        <xacro:property name="visual_mesh_props" value="${props['link']['mesh'][0]}" />
        <xacro:property name="collision_mesh_props" value="${props['link']['collision'][0]}" />
        <xacro:property name="length_props" value="${props['link']['length'][0]}" />
        <xacro:property name="width_props" value="${props['link']['width'][0]}" />
        <xacro:property name="thickness_props" value="${props['link']['thickness'][0]}" />
        <xacro:property name="origin_porps" value="${props['link']['origin'][0]}" />
        <xacro:property name="mass_porps" value="${props['link']['mass'][0]}" />
        <xacro:property name="inertia_porps" value="${props['link']['inertia'][0]}" />

       <visual>
        <geometry>
        <xacro:property name="mesh" value="${visual_mesh_props}" />
        <xacro:if value="${mesh == 'None'}">
          <box size="${length_props}
                     ${width_props}
                     ${thickness_props}" />
        </xacro:if>
        <xacro:unless value="${mesh == 'None'}">
          <xacro:if value="${use_ros_path}">
            <mesh filename="$(find balltze_description)/meshes/${mesh}" scale="1 1 1" />
          </xacro:if>
          <xacro:unless value="${use_ros_path}">
            <mesh filename="$(cwd)/meshes/${mesh}" scale="1 1 1" />
          </xacro:unless>
        </xacro:unless>
        </geometry>
        <origin xyz="0 0 0" />
      </visual>

      <collision>
        <geometry>
        <xacro:property name="mesh" value="${collision_mesh_props}" />
        <xacro:if value="${mesh == 'None'}">
          <box size="${length_props}
                     ${width_props}
                     ${thickness_props}" />
        </xacro:if>
        <xacro:unless value="${mesh == 'None'}">
          <xacro:if value="${use_ros_path}">
            <mesh filename="$(find balltze_description)/meshes/${mesh}" scale="1 1 1" />
          </xacro:if>
          <xacro:unless value="${use_ros_path}">
            <mesh filename="$(cwd)/meshes/${mesh}" scale="1 1 1" />
          </xacro:unless>
        </xacro:unless>
        </geometry>
      </collision>`

      <inertial>
          <mass value="${mass_porps}" />
          <inertia ixx="${inertia_porps['ixx']}"
                   ixy="${inertia_porps['ixy']}"
                   ixz="${inertia_porps['ixz']}"
                   iyy="${inertia_porps['iyy']}"
                   iyz="${inertia_porps['iyz']}"
                   izz="${inertia_porps['izz']}" />
      </inertial>
    </link>

    <joint name="dummy_to_base_link_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="dummy"/>
      <child link="base_link"/>
    </joint>
  </xacro:macro>

</robot>