<?xml version='1.0'?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="ros2_control_system">

      <xacro:macro name="ros2_control_joint" params="joint_name init_pos">
        <xacro:property name="motor_range"   value="${300.0 / 360.0 * (2.0 * pi)}" />
        <xacro:property name="motor_max_vel" value="${114.0 * (2.0 * pi / 60.0)}" />
        <xacro:property name="motor_max_eff" value="1.5" />

        <joint name="${joint_name}">
          <command_interface name="position">
            <param name="min">-${motor_range/2.0}</param>
            <param name="max">${motor_range/2.0}</param>
          </command_interface>
          <command_interface name="velocity">
            <param name="min">-${motor_max_vel}</param>
            <param name="max">${motor_max_vel}</param>
          </command_interface>
          <!-- <command_interface name="effort">
            <param name="min">-${motor_max_eff}</param>
            <param name="max">${motor_max_eff}</param>
          </command_interface> -->

          <state_interface name="position">
            <param name="initial_value">${init_pos}</param>
          </state_interface>
          <state_interface name="velocity" />
          <state_interface name="effort" />
        </joint>
      </xacro:macro>

      <xacro:macro name="leg_joints" params="leg_prefix">
        <xacro:ros2_control_joint joint_name="${leg_prefix}_body_link_to_coxa_link_joint"   init_pos="0.0"/>
        <xacro:ros2_control_joint joint_name="${leg_prefix}_coxa_link_to_femur_link_joint"  init_pos="${-pi/4}"/>
        <xacro:ros2_control_joint joint_name="${leg_prefix}_femur_link_to_tibia_link_joint" init_pos="0.0"/>
      </xacro:macro>

      <ros2_control name="IgnitionSystem" type="system">
        <hardware>
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>

        <xacro:leg_joints leg_prefix="front_left" />
        <xacro:leg_joints leg_prefix="front_right" />
        <xacro:leg_joints leg_prefix="rear_left" />
        <xacro:leg_joints leg_prefix="rear_right" />
      
      </ros2_control>

      <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
          <parameters>$(find balltze_description)/config/controllers.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:macro>
</robot>