<?xml version='1.0'?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="ros2_control_system">

      <xacro:macro name="ros2_control_joint" params="joint_name">
        <joint name="${joint_name}">
          <command_interface name="position">
            <param name="min">-5.23</param>
            <param name="max">5.23</param>
          </command_interface>
          <command_interface name="velocity">
            <param name="min">-11.932</param>
            <param name="max">11.932</param>
          </command_interface>
          <command_interface name="effort">
            <param name="min">-1.50</param>
            <param name="max">1.50</param>
          </command_interface>

          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity" />
          <state_interface name="effort" />
        </joint>
      </xacro:macro>

      <xacro:macro name="leg_joints" params="leg_prefix">
        <xacro:ros2_control_joint joint_name="${leg_prefix}_body_link_to_coxa_link_joint" />
        <xacro:ros2_control_joint joint_name="${leg_prefix}_coxa_link_to_femur_link_joint" />
        <xacro:ros2_control_joint joint_name="${leg_prefix}_femur_link_to_tibia_link_joint" />
      </xacro:macro>

      <ros2_control name="IgnitionSystem" type="system">
        <hardware>
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>

        <xacro:leg_joints leg_prefix="front_left" />
        <xacro:leg_joints leg_prefix="front_right" />
        <xacro:leg_joints leg_prefix="rear_left" />
        <xacro:leg_joints leg_prefix="rear_right" />
      
      </ros2_control>

      <gazebo>
        <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
          <robot_param>robot_description</robot_param>
          <robot_param_node>robot_state_publisher</robot_param_node>
          <parameters>$(find balltze_description)/config/controllers.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:macro>
</robot>