<?xml version='1.0'?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="ros2_control_system">
      
      <xacro:macro name="ros2_control_joint" params="joint_name motor_id inverted">
        <joint name="${joint_name}">
          <command_interface name="position" />
          <command_interface name="velocity" />
          <!-- <command_interface name="effort" /> -->

          <state_interface name="position" />
          <state_interface name="velocity" />
          <state_interface name="effort" />

          <param name="id">${motor_id}</param>
          <param name="inverted">${inverted}</param>
        </joint>
      </xacro:macro>

      <ros2_control name="DynamixelSystemf" type="system">
        <hardware>
          <plugin>balltze_dynamixel_system/BalltzeDynamixelSystem</plugin>
          <param name="serial_port">/dev/ttyUSB1</param>
          <param name="baudrate">1000000</param>
          <param name="return_delay">50</param>
        </hardware>

        <xacro:ros2_control_joint joint_name="fl_joint_1" motor_id="1" inverted="true"  />
        <xacro:ros2_control_joint joint_name="fl_joint_2" motor_id="2" inverted="true"  />
        <xacro:ros2_control_joint joint_name="fl_joint_3" motor_id="3" inverted="false" />
        <xacro:ros2_control_joint joint_name="fr_joint_1" motor_id="4" inverted="true"  />
        <xacro:ros2_control_joint joint_name="fr_joint_2" motor_id="5" inverted="false" />
        <xacro:ros2_control_joint joint_name="fr_joint_3" motor_id="6" inverted="true"  />
      
      </ros2_control>

      <ros2_control name="DynamixelSystemr" type="system">
        <hardware>
          <plugin>balltze_dynamixel_system/BalltzeDynamixelSystem</plugin>
          <param name="serial_port">/dev/ttyUSB2</param>
          <param name="baudrate">1000000</param>
          <param name="return_delay">50</param>
        </hardware>

        <xacro:ros2_control_joint joint_name="rl_joint_1" motor_id="1" inverted="false" />
        <xacro:ros2_control_joint joint_name="rl_joint_2" motor_id="2" inverted="true"  />
        <xacro:ros2_control_joint joint_name="rl_joint_3" motor_id="3" inverted="false" />
        <xacro:ros2_control_joint joint_name="rr_joint_1" motor_id="4" inverted="false" />
        <xacro:ros2_control_joint joint_name="rr_joint_2" motor_id="5" inverted="false" />
        <xacro:ros2_control_joint joint_name="rr_joint_3" motor_id="6" inverted="true"  />
      
      </ros2_control>
    </xacro:macro>
</robot>